.separator {
  display: flex;
  align-items: center;
  margin: 10px 0 18px;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #dbdbdb;
}

.text {
  color: #737373;
  font-size: 13px;
  font-weight: 600;
  margin: 0 18px;
}